{{template "top" .}}
    <h1>This is the home page</h1>
    <h3>Welcome {{.Username}}</h3>
   <table>
       <tr>
           <th>Product Name</th>
           <th>Product Type</th>
           <th>Product Material</th>
       </tr>
       {{range .Products}}
       <tr>
           <td>{{.ProductName}}</td>
           <td>{{.ProductType}}</td>
           <td>{{.ProductMaterial}}</td>
       </tr>
       {{end}}
   </table>
        {{range .Products}}
        <li>{{.ProductName}}</li>
        {{end}}
    </ul>
{{template "bottom" .}}